In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

C:\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [8]:

df1 = pd.read_csv('data/icu_data_28_0.1.csv', sep =',')
df2 = pd.read_csv('data/icu_data_33_02.csv', sep =',')
df3 = pd.read_csv('data/icu_data_38_03.csv', sep =',')
df4 = pd.read_csv('data/icu_data_43_04.csv', sep =',')
df5 = pd.read_csv('data/icu_data_48_05.csv', sep =',')

In [9]:
df = pd.concat([df1, df2, df3, df4, df5], axis=0)
df

,Unnamed: 0,distribution,bed_amount,denied,covid_denied,waiting_time,occupancy,admissioned,failed_reschedules,succesful_reschedules
0,0,"[4, 4, 4, 9, 7]",[28],1600,101,93306,68.170254,3272,17,903
1,1,"[4, 4, 4, 10, 6]",[28],1642,175,131442,66.136252,3086,37,952
2,2,"[4, 4, 4, 11, 5]",[28],1679,248,102786,64.277153,3046,62,759
3,3,"[4, 4, 4, 12, 4]",[28],1584,277,98034,59.279599,3144,23,904
4,4,"[4, 4, 4, 13, 3]",[28],1652,372,123672,59.097358,3046,28,908
...,...,...,...,...,...,...,...,...,...,...
1741,1741,"[14, 6, 4, 4, 20]",[48],1517,1201,130188,72.882420,4685,17,938
1742,1742,"[15, 4, 4, 4, 21]",[48],1598,1077,95016,70.772688,4679,36,833
1743,1743,"[15, 4, 4, 5, 20]",[48],1494,1224,78390,69.972175,4589,17,800
1744,1744,"[15, 4, 5, 4, 20]",[48],1268,1148,43776,69.162386,4784,28,503
1745,1745,"[15, 5, 4, 4, 20]",[48],1719,1337,156450,70.688499,4455,58,985